---
import TPLogo from "../assets/tplogo.png";
import Dropdown from "./Dropdown.astro";
import { Picture } from "astro:assets";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { getLangFromUrl, useTranslations } from "../i18/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const menuitems = [
    {
        title: t("pricing"),
        url: "#pricing",
    },
    {
        title: t("timetable"),
        url: "#timetable",
    },
    {
        title: t("coaches"),
        url: "#coaches",
    },
    {
        title: t("contact"),
        url: "#contact",
    },
];
---

<header
    class="p-4 h-13 flex flex-col lg:flex-row justify-between items-center bg-black text-white bg-opacity-0"
>
    <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between">
            <a href="/">
                <Picture
                    src={TPLogo}
                    alt="TP Phuket Academy"
                    class="w-20 h-20 hover:scale-110 transition duration-300"
                />
            </a>
            <div class="block md:hidden">
                <MenuIcon class="w-10 h-10 text-black md:text-white" />
            </div>
        </div>
        <MenuItems
            class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0 text-2xl font-bold"
        >
            <ul
                class="flex flex-col lg:flex-row lg:gap-3 justify-center items-center"
            >
                {
                    menuitems.map((item, index) => (
                        <>
                            {item.children && (
                                <Dropdown
                                    title={item.title}
                                    children={item.children}
                                    lastItem={index === menuitems.length - 1}
                                />
                            )}

                            {!item.children && (
                                <li>
                                    <a
                                        href={item.url}
                                        class="flex lg:px-3 py-2 items-center text-black md:text-white hover:scale-110 hover:text-yellow-500 transition duration-300"
                                    >
                                        <span> {item.title}</span>
                                        {item.badge && (
                                            <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                                                New
                                            </span>
                                        )}
                                    </a>
                                </li>
                            )}
                        </>
                    ))
                }
            </ul>
        </MenuItems>
    </Astronav>
    <div></div>
</header>
